.search-form {
  display: flex;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: rgb(93, 0, 255);
  justify-content: center;

  &__box {
    display: flex;
    box-sizing: border-box;
    border-radius: 4px;
  }
  &__input {
    width: 100%;
    background-color: rgb(243, 244, 250);
    font-weight: 300;
    outline: none;
  }
  &__btn {
    margin: 0;
    border-style: none;
    border-color: black;
    cursor: pointer;
  }
  &__icon {
    display: flex;
    width: 36px;
    height: 18px;
    align-items: center;
    background-color: rgb(243, 244, 250);
  }
}
