@mixin transition {
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.search-form {
  display: flex;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: rgb(93, 0, 255);
  justify-content: center;

  &__box {
    display: flex;
    box-sizing: border-box;
    border-radius: 4px;
  }
  &__input {
    width: 100%;
    background-color: rgb(243, 244, 250);
    font-weight: 300;
    outline: none;
  }
  &__btn {
    margin: 0;
    border-style: none;
    cursor: pointer;
    &:focus,
    &:hover {
      background-color: 1px solid rgb(7, 101, 141);
      outline: none;
      @include transition;
    }
  }
  &__icon {
    display: flex;
    width: 27px;
    height: 14px;
    align-items: center;
    background-color: rgb(243, 244, 250);
  }
}
